button {
  // height: var(--bb-button-height);
  // font-size: var(--ff-button-font-size);
  // background: var(--clr-neutral-200);
  // padding: 0.2em 1.3em;

  // border: 1px solid var(--clr-secondary-darker);
  // color: var(--clr-primary-light);
  // text-transform: uppercase;
  // cursor: pointer;
  // border-radius: var(--bb-button-border-radius);
  transform-origin: center;
  border: none;
  padding: 1rem;
  background: none;
  outline: none;
}

.menubtn {

  span {
    background: var(--ff-base-font-color);
    width: 3.6rem;
    height: 0.8rem;
    display: block;
    margin: 8px;
  }
}
