button {
  // height: var(--bb-button-height);
  // font-size: var(--ff-button-font-size);
  // background: var(--clr-neutral-200);
  // padding: 0.2em 1.3em;

  // border: 1px solid var(--clr-secondary-darker);
  // color: var(--clr-primary-light);
  // text-transform: uppercase;
  // cursor: pointer;
  // border-radius: var(--bb-button-border-radius);
  transform-origin: center;
  border: none;
  padding: 0.5rem;
  background: none;
  outline: none;
  cursor: pointer;
}

button.btn {
  display: block;
  font-size: 1.1em;
  text-transform: uppercase;
  color: var(--clr-white);
  border-radius: 6px;
  background-size: 300% 300%;
  padding: 1em 3em;
  background-image: linear-gradient(
    to right,
    #895cf2 0%,
    #ffabf4 50%,
    #895cf2 100%
  );
  transition: 0.5s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  &:hover {
    background-position: right center;
  }
}
