.hamburger-menu {
  // display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;

  .menu-secondary-background-color {
    background: var(--clr-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .menu-layer {
    font-family: var(--ff-base-font-family);
    background-color: var(--clr-primary-light);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .wrapper {
      position: relative;
    }

    .menu-text {
      font-size: 1.8rem;
      // font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .menu-links {
      margin: 5rem 0;
    }
    .menu-social-icons {
      .social-icon {
        margin-right: 1em;
      }
      .social-icon:nth-last-child(1) {
        margin: 0;
      }
    }
    .menu-email {
      text-transform: uppercase;
      font-size: var(--ff-small-font-size);
      font-weight: 100;
    }

    .menu-resume {
      font-size: 2.4rem;
      font-weight: 400;
      margin: 5rem;
      display: block;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
}

.icon {
  font-size: 2rem;
  width: 24px;
  height: 24px;
  fill: var(--clr-secondary-normal);
}
