.hamburger-menu {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;
  overflow: hidden;
  color: var(--dim-black);

  .menu-secondary-background-color {
    background: var(--clr-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .menu-layer {
    font-family: var(--ff-base-font-family);
    background-color: var(--clr-primary-light);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;

    .wrapper {
      position: relative;
      padding-top: 4rem;
      display: flex;
      flex-direction: column;

      @include media(">tablet") {
        padding-top: 4rem;
      }
    }

    .menu-text {
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .menu-links {
      margin: 0.5rem 0 7rem;
      a {
        
        @include media(">tablet") {
          font-size: 6rem;
        }
      }
    }
    .menu-social-icons {
      @include media(">tablet") {
        margin-top: 1rem;
      }
      .social-icon {
        margin-right: 1em;
      }
      .social-icon:nth-last-child(1) {
        margin: 0;
      }
    }

    .menu-resume {
      align-self: center;
      margin-top: 4rem;
      font-weight: 600;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media(">tablet") {
        margin-top: 6rem;
      }
      .download {
        margin-right: 5px;
      }
    }
    .menu-email {
      text-transform: uppercase;
      font-size: var(--ff-small-font-size);
      font-weight: 100;
      margin-top: 5rem;
    }
  }
}

.icon {
  font-size: 2rem;
  width: 24px;
  height: 24px;
  fill: var(--dim-black);
}
.icon:hover {
  opacity: 0.8;
  
  transition: background 0.2s, color 0.2s;
  animation: spinAround 2s linear infinite;
}
.icon:hover:before {
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
