header,
.header {
  background-color: var(--clr-white);
  // backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1;
  // background: rgba(255, 165, 0, 0.5);

  &__wrapper {
    padding: 10px;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__logo {
    position: relative;
    font-family: var(--ff-base-font-family);
    font-size: 2.5rem;
    letter-spacing: -1px;
    font-weight: 900;
    flex: 1;

    span:after {
      content: "\2215";
      display: inline-block;
      margin: 0 4px 0 2px;
      height: 5px;
      width: 5px;
      color: var(--clr-sky-blue);
      
    }
  }
  &__menu {
    display: flex;
    gap: 0.75em;
    transition: all 1s;
    cursor: pointer;
  }
  &__modebtn {
    cursor: pointer;
    display: flex;
  }
  &__menubtn {
    z-index: 10;

    span {
      background: var(--ff-base-font-color);
      width: 30px;
      height: 5px;
      display: block;
      margin: 8px;
    }
  }
  &__modeicon {
    height: 25px;
    align-self: center;
  }
}
