header,
.header {
  background-color: var(--clr-white);
  // backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  opacity: .8;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__wrapper {
    padding: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    font-family: var(--ff-base-font-family);
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 900;
    flex: 1;

    span:after {
      content: "\2215";
      display: inline-block;
      margin: 0 4px 0 2px;
      height: 5px;
      width: 5px;
      color: var(--clr-sky-blue)
    }
  }
  &__menu {
    display: flex;
    gap: 1em;
    transition: all 1s;
   

    .modebtn {
      cursor: pointer;
   
  
  
    }
  }
}
