.hero {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  &__inner {
    margin: 4rem 0 7rem;
    // background: lightblue;
  }
  p {
    font-size: 2rem;
    // color: var(--clr-secondary-normal);
  }
  &__title {
    margin-top: 1rem;
  }
  &__text {
    font-weight: normal;
  }
  &__btn {
    margin-top: 5rem;

    @include media(">tablet") {
    }
  }
}
