.navbar {
  .navbar__links {
    display: flex;
    flex-direction: column;
    font-size: var(--ff-menu-links-font-size);
    font-weight: 800;
    line-height: 1.4;
  }
}

.fade-in-text {
  // position: relative;

  &__link {
    position: relative;

    &:before {
      content: attr(data-text);
      letter-spacing: 0.5em;
      display: flex;
      justify-content: center;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: -1;
      opacity: 0;
      transition: all 0.2s linear;
    }

    &:hover:before {
      letter-spacing: initial;
      opacity: 0.5;
      z-index: 2;
      transition: all 0.8s;
    }
  }
}
